volumes:
  hf_models:
services:
  stream-cam:
    container_name: stream-cam
    image: jrottenberg/ffmpeg
    network_mode: "host" 
    user: root
    privileged: true 
    volumes:
      - /dev:/dev
    devices:
      - /dev/video0:/dev/video0
    environment:
      - FRAME_RESOLUTION=${FRAME_RESOLUTION}
      - FRAME_RESOLUTION_CROP=${FRAME_RESOLUTION_CROP}
    entrypoint: >
      ffmpeg -f v4l2 -input_format mjpeg -framerate 30 -video_size ${FRAME_RESOLUTION} -i /dev/video0 
      -vf "crop=${FRAME_RESOLUTION_CROP}"
      -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -tune zerolatency 
      -x264-params "repeat-headers=1:keyint=15" 
      -bsf:v "dump_extra=freq=keyframe" 
      -f mpegts "udp://127.0.0.1:55080?pkt_size=1316"



  smol-vlm:
    build:
      context: .
      dockerfile: configs/smol-vlm/Dockerfile
    container_name: vlm_smol
    user: root
    network_mode: "host"
    deploy:
      resources:
        limits:
          cpus: '8.0'      # Use 8 cores (if available)
          memory: 8G       # Give it 8GB of RAM
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - HF_TOKEN=${HF_TOKEN}
      - CAMERA_URL=udp://127.0.0.1:55080?pkt_size=1316
      - FRAME_RESOLUTION=${FRAME_RESOLUTION}
      - FRAME_RESOLUTION_CROPED=${FRAME_RESOLUTION_CROPED}
      - HSA_OVERRIDE_GFX_VERSION=10.3.0
      - MODEL_ID=HuggingFaceTB/SmolVLM2-500M-Video-Instruct
      - HF_HUB_OFFLINE=1
      - TRANSFORMERS_OFFLINE=1
      - HF_DATASETS_OFFLINE=1
    volumes:
      - /dev:/dev
      - ./scripts:/app/scripts
      - ./logs:/app/logs
      - ./entrypoint.sh:/app/entrypoint.sh
      - ./models:/root/.cache/huggingface
    # Pass the specific script name as an argument
    entrypoint: ["tail", "-f", "/dev/null"]

  # moondream:
  #   build:
  #     context: .
  #     dockerfile: configs/moondream/Dockerfile
  #   container_name: vlm_moondream
  #   user: root
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   environment:
  #     - HF_TOKEN=${HF_TOKEN}
  #     - CAMERA_URL=udp://host.docker.internal:55080
  #     - HSA_OVERRIDE_GFX_VERSION=10.3.0
  #     - MODEL_ID=vikhyatk/moondream2
  #     - HF_HUB_OFFLINE=1
  #     - TRANSFORMERS_OFFLINE=1
  #     - HF_DATASETS_OFFLINE=1
  #   volumes:
  #     - /dev:/dev
  #     - ./scripts:/app/scripts
  #     - ./entrypoint.sh:/app/entrypoint.sh
  #     - ./models:/root/.cache/huggingface
  #   entrypoint: ["tail", "-f", "/dev/null"]

# --- Variant 3: Qwen2-VL (The Smartest) ---
  # qwen-vl:
  #   build:
  #     context: .
  #     dockerfile: configs/qwen-vl/Dockerfile
  #   container_name: vlm_qwen
  #   user: root
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   environment:
  #     - HF_TOKEN=${HF_TOKEN}
  #     - CAMERA_URL=udp://host.docker.internal:55080
  #     - HSA_OVERRIDE_GFX_VERSION=10.3.0
  #     - MODEL_ID=Qwen/Qwen2-VL-2B-Instruct
  #     - HF_HUB_OFFLINE=1
  #     - TRANSFORMERS_OFFLINE=1
  #     - HF_DATASETS_OFFLINE=1
  #   volumes:
  #     - /dev:/dev
  #     - ./scripts:/app/scripts
  #     - ./entrypoint.sh:/app/entrypoint.sh
  #     - ./models:/root/.cache/huggingface
  #   entrypoint: ["tail", "-f", "/dev/null"]
